---
name: Continuous integration

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  run-playbook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: setup Python    
        uses: actions/setup-python@v2.2.1
      - name: install ansible
        run: pip install ansible
      - name: Create a roles_path
        run: >-
          printf '[defaults]\nroles_path=../' >ansible.cfg
      - name: Install role requirements
        run: ansible-galaxy install -r meta/requirements.yml
      - name: Test the playbook
        run: ansible-playbook tests/test.yml -i tests/inventory --syntax-check
      - name: Run the playbook
        run: ansible-playbook tests/test.yml -i tests/inventory
